@charset "utf-8";
.Shoesname_price {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	text-decoration: blink;
	font-style: normal;
	text-transform: none;
	cursor: default;
	-webkit-transition: all 3s ease-out 4s;
	-moz-transition: all 3s ease-out 4s;
	-ms-transition: all 3s ease-out 4s;
	-o-transition: all 3s ease-out 4s;
	transition: all 3s ease-out 4s;
}
